const globalStore = require('./');

class {
  onMount(input, out) {
  console.log('here');
  // Read out the globals and stick them all into the global store
  globalStore.set('', out.global);
}
}

<div></div>